html{
    box-sizing: border-box;
    /* border: 1px red solid; */
    
}

*, *::before, *::after{
    box-sizing: inherit;
    /* border: inherit; */
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: currentColor;
}

.main-logo{
    width: auto;
    height: 55px;
    padding-right: 32px ;
    
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #ececea;
    border-bottom: 1px #ffffff00 solid;
    box-shadow: 0px 0px 5px 1px rgb(109, 250, 156, 0.5);
    position: relative;
}

.navbar{
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
}

.nav-links{
    display: flex;
    font-weight: bold;
    color: green;
    align-items: center;
    gap: 32px;
    transition: all 0.3s;
}

.nav-icon{
    display: block;
    filter:grayscale(50%);
    height: 32px;
    width: auto;
    margin: 5px auto;
    transition: all 0.3s;
}

.nav-icon:hover
{
    filter:grayscale(0%);
}
.format-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px 0px;
}
.main-bg-color{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    padding: 4px;
    gap: 4px;
}

.main-sub{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
}

.main-heading{
    
    text-shadow: rgba(136, 199, 167, 0.75) 1px 0 10px;
    color: #F9FAF8;

    font-size: 48px;
    font-weight:bolder;
    text-align: left;
    line-height: 48px;
    margin-top: 0;
}

.inputBooking{
    display: flex;
    background-color: #ececea6e ;
    flex-direction: column;
    gap: 16px;
    color: white;
    padding: 8px;
    border-radius: 8px;
    
}


.waySelect{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
    
}

.labelJourney{
    font-weight: bold;
    color: #009b7d;
    background-color: azure;
    padding: 0 8px;
    border-radius: 12px;

}
.dateSelect{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
}

#fromDate, #returnDate{
    
    min-width: 200px;
    
}

.labelForText{
    flex:auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


#fromBox, #toBox{
    
    min-width: 300px;
}
.placeAndPassenger{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    gap: 8px;
}

.passengerSelect{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    border-radius: 8px;
    flex: 1;
    padding-left: 16px;
}

.passengerMaxWidth{
    max-width: 80px;
}
.placeSelect{
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 2;
    
}
.buttonSelect{
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}
button{
    
    font-size: 18px;
    width: 100px;
    padding: 8px 4px;;
    background-color: #009b7d;
    color: white;
    box-shadow: 3px 3px 10px 0.5px black;
    border: none;
    border-radius: 18px;
    transition: all ease-in 0.2s;
    margin-bottom: 4px;

}
button:hover{
    box-shadow: 3px 3px 5px 0.5px rgb(255, 255, 255);
    
}

.formatInput{
    /* display: block; */
    
    font-size:16px ;
    height: 28px;
    padding: 4px 18px;
    border-radius: 18px;
    border: 0px;
    flex-grow: 1;
}

.inputBooking *{
    /* border: 0.5px lightgreen solid; */
}

.main-sub-2{
    flex: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    /* border: 0.5px lightgreen solid; */
    background-image: url(../assets/clouds.jpeg);
    background-size: 200%;
    border-radius: 12px;
    
}

.main-image{
    transition: all ease-in 0.3s;
}

.main-image:hover{
    filter: brightness(130%);
}

/* Second Section starts here */
.middle-bg-color{
    background-color: white;
} 

.middle-container h2{
    font-family: "Dancing Script", sans-serif;
    font-size: 36px;
    margin-bottom: 0;
    text-align: center;
}

.middle-container{
    display: flex;
    flex-flow: column wrap;
    width: 80vw;
    border: 1px solid green;
    align-content: center;
    height: 500px;
    padding: 4px;
    gap: 4px;
}


.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 1px black solid;
    flex: 1;
}
.middle-card{
    display: flex;
    flex-flow: column wrap;
    width: 250px;
    height: 350px;
    border: 1px solid green;
    gap: 8px;
    font-size: 22px;
    text-align: center;
}

.middle-card img{
    border-radius: 8px;
    
    width: 100%;
    height: auto;
}
